.main-navigation-box_hidden {
  display: none;
}

.main-navigation-box__item {
  padding-bottom: 30px;
}

.main-navigation-box__item_large-pb {
  padding-bottom: 60px;
}

.main-navigation-box__btn {
  font-size: 16px;
  text-wrap: nowrap;
  color: var(--primary-gray);
}

.main-navigation-box__btn:hover {
  color: var(--alert);
}
