.profile-buttons {
  display: flex;
  align-items: center;
  gap: 50px;
  transition: gap 400ms ease-out;
}

.profile-item {
  position: relative;
}

.profile-item__button {
  color: var(--primary-gray);
}

.profile-item[data-visible='false'] {
  display: none;
}

.profile-item__span {
  position: absolute;
  width: 18px;
  height: 18px;
  right: -5px;
  top: -6px;
  text-align: center;
  font-weight: 700;
  border-radius: 50%;
  background-color: var(--alert);
  color: var(--white);
}

@media (max-width: 992px) {
  .profile-buttons {
    gap: 30px;
  }
}
