.subscriptions-box {
  padding-top: 27px;
  padding-bottom: 52px;
}

.subscriptions-box__header {
  padding-bottom: 30px;
  font-size: 18px;
}

.subscriptions-box .main-navigation-box__item {
  margin-left: -4px;
  padding-bottom: 23px;
}
